<h1>Ingrese los productos por favor</h1>
<form action="/productos" method="post">
    <label for="title">Título</label>
    <input type="text" name="title" id="title" />
    <br />

    <label for="price">Precio</label>
    <input type="number" name="price" id="price" />
    <br />

    <label for="thumbnail">Thumbnail</label>
    <input type="text" name="thumbnail" id="thumbnail" />
    <br />
    <input type="submit" value="Agregar" />
</form>
<a href="./productos">Ver la lista de productos</a>